<!DOCTYPE html>
<html>
	<head>
		<title>Add Custom Recipe</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<header class="header">
			<form class="logout" action="/logout" method="get">
				<input type="submit" name="logout" value="Log Out">
			</form>
			<form class="change" action="/index" method="get">
				<input type="submit" name="change" value="Change Household">
			</form>
		</header>
		<main>
			<fieldset>
				<form class="recipe-query" action="/recipe-query" method="post">
					<input type="text" name="recipename" value="Search Name">
					<input type="number" name="numrecipes" value="">
					<input type="text" name="allergies" value="Allergies">
					<input type="dropdown" name="dietarypref" value="Preferred Diet">
					<input type="text" name="genre" value="Style">
					<input type="dropdown" name="coursetype" value="Course">
					<input type="submit" name="submit" value="Submit">
				</form>
			</fieldset>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<% if(typeof recipe != "undefined") { %>
						<% recipe.results.forEach(function(item){ %>
							<img src="https://spoonacular.com/recipeImages/<%=item.image%>" alt="<%=item.title%>" height="100" width="100">

							<label for="<%=item.title%>"><%=item.readyInMinutes%>
							<input type="button" name="<%=item.title%>" value="<%=item.title%>">
						<%  })} %>
				</div>
			</div>


		</main>
		<footer class="footer col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<form class="add" action="/new" method="post">
				<input type="submit" name="add-recipe-to-db" value="Add Recipe">
			</form>
		</footer>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>
