<%- include("_head.ejs",{pgtitle:"Create Recipe"}); %>
<%- include("_header.ejs"); %>
            <div class="site-wrapper-inner">
                <%- include("_navbar.ejs"); %>
                    <form class="recipes col-xs-6 col-lg-6" action="/" method="get">
                        <input type="submit" name="recipes" value="Back to List" class="recipes btn btn-primary col-xs-12 col-lg-12">
                    </form>
                    <h1><%=recipe%></h1>
                    <% ingredients.forEach(function(ingredient) { %>
                      <h3><%=ingredient%></h3>
                      <form class="deleteingredient" action="/addnewrecipe/deleteingredient/<%=ingredient%>" method="post">
                        <input type="submit" name="delete" value="Delete">
                      </form>
                    <% }) %>
                    <form class="addingredient" action="/addnewrecipe/addingredient/" method="post">
                      <input type="text" name="ingredient" placeholder="Ingredient">
                      <input type="submit" name="add" value="Add Ingredient">
                    </form>
                    <form class="addnewrecipe" action="/addnewrecipe/submit" method="post">
                      <input type="submit" name="recipe" value="Submit">
                    </form>
                </div>
<%- include("_about.ejs"); %>
<%- include("_footer.ejs") %>
