<%- include("_head.ejs", {pgtitle:"My Households"}); %>
<%- include("_header.ejs",{household: household}); %>
        <div class="site-wrapper-inner">
			<%- include("_navbar.ejs"); %>
				<div class="recipe-row col-xs-8">
					<fieldset class="col-xs-12">
							<% groceries.forEach(function(gro){ %>
								<h3><%=gro.name%></h3>
								<form class="" action="/households/<%=gro.name%>" method="post">
									<input class="btn btn-standard" type="submit" name="selectHouse" value="Select Household">
								</form>
								<form class="" action="/leave/<%=gro.name%>" method="post">
									<input class="btn btn-standard" type="submit" name="leaveHouse" value="Leave Household">
								</form>
							<% }); %>
					</fieldset>
				</div>
				<div class="recipe-button-row col-xs-4">
				</div>
				<form class="add col-6 btn btn-default" action="/add" method="post">
					<input type="submit" name="add-item" value="Add">
				</form>
        </div>
<%- include("_about.ejs"); %>
<%- include("_footer.ejs") %>
