<%- include("_head.ejs", {pgtitle: "Recipes"}); %>
<%- include("_header.ejs", {household:household}); %>
<div class="site-wrapper-inner">
    <%- include("_navbar.ejs"); %>
    <div class="recipe-row col-xs-8">
        <fieldset class="col-xs-12">
            <h3>Recipes</h3>
            <% recipes.forEach(function(recipe) { %>
                <h4><%=recipe.name%></h4>
                <form class="addingredients" action="/addnewitem/<%=recipe.name%>" method="post">
                    <input type="submit" name="addingredients" value="Add All Ingredients" class="btn btn-primary">
                </form>
                <form class="editerecipe" action="/editrecipe/<%=recipe.name%>" method="get">
                    <input type="submit" name="editrecipe" value="Edit Recipe" class="btn btn-success">
                </form>
                <form class="deleterecipe" action="/recipes/delete/<%=recipe.name%>" method="post">
                    <input type="submit" name="editrecipe" value="Delete Recipe" class="btn btn-warning">
                </form>
            <% }); %>
            <form class="addnewrecipe" action="/recipes/new" method="get">
                <input type="submit" name="newrecipe" value="Add New Recipe" class="button-special btn btn-primary">
            </form>
        </fieldset>

    </div>
</div>
<%- include("_about.ejs"); %>
<%- include("_footer.ejs"); %>
